.museumsList {
    min-height: 100vh;
    padding-left: 38vw;
    padding-top: 125px;
}

.museumsList .leftPanel {

    gap: 20px;
    display: flex
;
    flex-direction: column;
    align-items: start;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    background: white;
    top: 0;
    left: 0;
    padding: 50px;
    box-sizing: border-box;
    background: #FFF;
    background: color(display-p3 1 1 1);
    box-shadow: 14px 4px 31.9px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 14px 4px 31.9px 0 color(display-p3 0 0 0 / 0.05);
    width: 35vw;
}

.museumsList .leftPanel .inputContainer{
    display: flex;
    flex-direction: row;
    gap : 25px
}

.museumsList .leftPanel .inputContainer .inputCheckbox{
    display: flex
;
    flex-direction: row;
    align-items: start;
}
.museumsList .etiquettesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

@media only screen and (max-width: 1150px) {

    .museumsList .leftPanel {

        position: relative;
        width: 100%;
        height: 410px;
    }

    .museumsList {

        padding-inline: 4%;
        display: flex;
        gap: 52px;
        flex-direction: column;
        align-items: center;
    }

    .museumsList .etiquettesList {

        justify-content: center;
    }
}


@media only screen and (max-width: 1000px) {
    .museumsList .etiquettesList {

        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
 .museumsList .museumEtiquette{
     width: 47%;
 }
}
