.museumEtiquette {
    width: 29%;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 2;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 13.2px 0 color(display-p3 0 0 0 / 0.16);
    text-decoration: none;
}



.museumEtiquette img {
    border-radius: 8px 8px 0 0;
    aspect-ratio: 1 / 0.6;
    object-fit: cover;
}

.museumEtiquette h4 {
    margin: 0;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;

}
.museumEtiquette span{
    color: #363636;
    padding: 10px;
}
.museumEtiquette #iconDelete{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 21px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    z-index: 3;
}
