body{
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

.page{
    padding-block: 161px;

    min-height: 100vh;
}


.button{
    border: 1px solid black;
    background: transparent;
    padding: 5px 20px;
    cursor: pointer;
}

.button:hover{
   background: black;
    color: white;

}
